{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<main>
    <section class="hero-section">
        <div class="row">
            <div class="flex-container">
                <div class="hero-text-box">
                    <h1 class="hero-heading">NO MEANS NO!</h1>
                    <p>
                        Don't just sit back, don't keep quite
                        it's you and only you who is going
                        to fight for yourself. We are always with you, speak up and stand tall.
                    </p>
                    <a href="./aboutus.html" class="btn_learn_more" id ="aboutus">Let's Speak Up!</a>
                </div>
                <div class="hero-img-box">
                    <img src="{{ url_for('static', filename='poster-final.png') }}" alt="People showing stop to Rape." class="hero-img">
                </div>
            </div>
        </div>
    </section>
    <section class="quote-section">
        <div class="row">
            <p>"Conquer from Within" - WOMANLY</p>
        </div>
    </section>
    <section class="About_us1" id="about">
        <div class="row">
            <h1 class="about-heading">WHO ARE WE?</h1>
            <h2 class="about-subheading">
                A small initiative to preserve our society.
            </h2>
        </div>
        <div class="row">
            <div class="about-flex-container">
                <div class="img-box">
                    <img src="{{ url_for('static', filename='ab_us_pic1.jpg') }}" alt="Students" class="about-img">
                </div>
                <div class="text-box">
                    <h3 class="about-h3">Wo-manly is an organization which helps people in times of emergency.</h3>
                    <p class="about-para1">
                        We have created this organization with a motive of giving assistance to all the people out there whenever any situation is about to befall upon them such as sexual assault, violation, molestation, criminal assault, and seduce.
                    </p>
                    <p class="about-para2">
                        <strong>Our Vision </strong> is to make this society a better place to live in where any person of any gender can freely rome at any place. <strong>Our Mission </strong> is to filter out people who makes our society filthy by doing such kind of things that we are all shame on.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="About-us2">
    <div class="about-flex-container2">
        <div class="text-box2">
            <h3 class="about2-h3">
                The one thing that motivated us for the formation of this organization.
            </h2>
            <p class="about-para3">
                The increasing filthiness of evil minded persons in our society , irrelevant of gender. The kind of things that people are doing these days are unbelievable and shocking . We literally can't imagine as to where humanity has gone.
            </p>
            <p class="about-para4">
                The amount of suffering the victim has to face after such kind of practice is just immeasurable. Post-traumatic stress disorder (PTSD), including flashbacks, nightmares and severe anxiety are just some of the examples that victims go through.
            </p>
        </div>
        <div class="img-box2">
            <img src="{{ url_for('static', filename='origin.png') }}" alt="Origin of Idea" class="about-img2">
        </div>
    </div>
</section>
<section class="real-life-case1">
    <h1 class="headline-cases">SOME REAL LIFE INCIDENCES</h1>
    <h3 class ="female-case"> 1.Nirbhaya’s Rape case (Delhi, 2012)</h3>
    <div class="nirbhaya-para1">
        <p>The 2012 Delhi gang rape and murder case involved a rape and fatal assault that occurred on 16 December 2012 in Munirka, a neighbourhood in South West Delhi.</p>
    </div>
    <div class="nirbhaya-para2">
        <p>The incident took place when Nirbhaya (a name used to protect the identities of rape victims), a 22-year-old physiotherapy intern, was beaten, gang-raped, and tortured in a private
            bus in which she was travelling with her male friend. There were six others in the bus, including the driver, all of whom raped the woman and beat her friend.
        </p>
    </div>
    <div class="nirbhaya-para3">
        <p>There were six others in the bus, including the driver, all of whom raped the woman and beat her friend.</p>
    </div>
    <div class="nirbhaya-para4">
        <p>LONG LIVE NIRBHAYA !</p>
    </div>
</section>
<div class="about-flex-container3">
    <div class="box-img3">
        <img src="{{ url_for('static', filename='male-rape-1.jpg') }}" alt="Male Rape" class="male-rape-img">
    </div>
    <div class="text-box">
        <div class="male-case-content1">
            <p><strong>By now , the long-term effects of sexual abuse of women by men have been studied extensively,
                there has been minimal research exploring the effects of sexual assault by men on other men.</strong></p>
        </div>
        <div class="male-case-content2">
            <p>Until recently, very little attention has been paid to male victims of rape and sexual assault in adulthood.
                Let's have a look at one of the cases.
            </p>
        </div>
    </div>
</div>
<section class="real-life-case2">
    <h3 class="male-case">2. Shubham's Rape case (Delhi)</h3>
    <div class="shubham-para1">
        <p>A 13-year-old boy was forced to have a sex reassignment surgery and raped and abused for years by four accused in a horrifying incident in northeast Delhi.</p>
    </div>
    <div class="shubham-para2">
        <p> Shubham (name changed) was forced to have sex change at a locality in Delhi’s Geeta Colony by six men who later went on to gangrape the minor victim on multiple occasions for over months. According to updates, the minor victim met the accused in Delhi’s Laxmi Nagar area about three years ago at a dance event and was later invited by them to Mandavali area on the promise of learning dance form.</p>
    </div>
    <div class="shubham-para3">
        <p>The victim in the police complaint has said that he was given intoxicating substances by the men when he was just 13 years old. Later, they forcefully performed a sex change surgery on him and was also given hormonal medicines, which made him look like a girl over the period of time. </p>
    </div>
    <div class="shubham-para4">
        <p>He was also raped by others who came as customers. Shubham was also made to beg as a eunuch at traffic signals. Shubham said that the accused too used to wear women's clothes, assault people and take their money.</p>
    </div>
</section>
<div class="row">
    <div class="heading-howit" id="howit">
        <h1><strong>How it Works?</strong></h1>
    </div>
    <div class="para1-howit">
        <p>Just 3 simple steps and we are at your service!</p>
    </div>
</div>
<section class ="step 1">
<div class="howit-flex-container1">
    <div class="text-box">
        <div class="heading-no1">
            <h1>01</h1>
        </div>
        <div class="headingname-no1">
            Register / Sign-in
        </div>
        <div class="content-no1">
            Register with us beforehand and never worry again ever.
             You can register by simply clicking on <strong>this Registeration button</strong> and let us have the basic information about you .
             Registeration is an important step as otherwise that it wpould not be possible for us to help you.
        </div>
    </div>
    <div class="img-box">
        <img src="{{ url_for('static', filename='how it works pic 1.jpeg') }}" alt="Registeration Form" class="register-img">
    </div>
</div>
</section>
<section class ="step 2">
<div class="howit-flex-container2">
    <div class="img-box">
        <img src="{{ url_for('static', filename='how it works pic 2.jpeg') }}" alt="Registeration Form" class="register-img2">
    </div>
    <div class="text-box">
        <div class="heading-no2">
            <h1>02</h1>
        </div>
        <div class="headingname-no2">
            Pre-requisities
        </div>
        <div class="content-no2">
            Just after registering you need to sign in .
            Don't forget to give the location , camera access and mobile data or wi-fi permissions. (These three are the only Pre-requisities we ask fror)
        </div>
    </div>
</div>
</section>
<section class ="step 3">
    <div class="howit-flex-container3">
        <div class="text-box">
            <div class="heading-no3">
                <h1>03</h1>
            </div>
            <div class="headingname-no3">
                What exactly you need to do
            </div>
            <div class="content-no3">
                <div class=para1>
                While in a situation of emergency , or when you feel like that some mishap is about to happen , follow these 3 simple steps.
                </div>
                <div class="para2">
                    a) Take your Phone<br>
                    b) Click the power off button 3 times continously.<br>
                    c) And, our team is here to help you.<br>
                </div>
            </div>
        </div>
        <div class="img-box">
            <img src="{{ url_for('static', filename='how it works pic 3.png') }}" alt="poweroff button" class="poweroff-img">
        </div>
    </div>
    </section>
    <div class="footer-head">
        <h1><strong>How all of this is going to work?</strong></h1>
    </div>
    <div class="howit-footer-para1">
        <p><strong>Our organisation is a small contribution towards the curbing of increasing rape scenarios day by day. <br>
        Here's How all of this will work !</strong></p>
    </div>
    <div class="howit-footer-para2">
        <p>
            1. Firstly the information that you will provide us during registeration will be saved with us. <br>
            2. Whenever from any location inside a particular area we will get a request (when the power off button is clicked by the user 3 times). <br>
            3. Here we will use geolocation to trace the location. <br>
            4. Then, as soon as possible, our team will reach at the location from where the request is being generated. <br>
            5. To save the victim and turn the accussed behind the bars. </p>
    </div>
    <div class="service-heading" id= "services">
        <h1>Services</h1>
    </div>
    <div class="services-flex-container1">
        <div class="img-box">
            <img src="{{ url_for('static', filename='Services-pic1.jpg') }}" alt="Healing" class="healing-pic1">
        </div>
        <div class="text-box">
            <div class="services-para1">
                <p><strong>Recovering from sexual assault takes time, and the healing process can be painful. But you can regain your sense of control, rebuild your self-worth, and learn to heal.</strong></p>
            </div>
            <div class="services-para2">
                <p>Regardless of age or gender, the impact of sexual violence goes far beyond any physical injuries. The trauma of being raped or sexually assaulted can be shattering, leaving you feeling scared, ashamed, and alone or plagued by nightmares, flashbacks, and other unpleasant memories.</p>
            </div>
        </div>
    </div>
    <div class="services-flex-container2">
        <div class="text-box">
            <p>It’s important to remember that what you’re experiencing is a normal reaction to trauma. Your feelings of helplessness, shame, defectiveness, and self-blame are symptoms, <strong>not reality</strong>. No matter how difficult it may seem, with the tips that our psychiatrist tell, you can come to terms with what happened, regain your sense of safety and trust, and learn to heal and move on with your life.</p>
        </div>
        <div class="img-box">
            <img src="{{ url_for('static', filename='Services-pic2.jpg') }}" alt="Healing" class="services-img3">
        </div>
    </div>
    <div class="services-flex-container3">
        <div class="text-box2">
            <div class="services-para3">
                <p>Our organisation is open for you 24*7 to provide you assisstance of any kind that you need.</p>
            </div>
            <div class="services-para4">
                Together we all can do it!
            </div>
        </div>
        <div class="img-box">
            <img src="{{ url_for('static', filename='Womanlylogo1.png') }}" alt="logo" class="logo-services">
        </div>
    </div>
    <img src="{{ url_for('static', filename='to.jpg') }}" alt="Together" class="together-services">
    <div class="together-class">
        <p>Let's get <strong>Stronger Together</strong></p>
    </div>
    <div class="services-footer1">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Womanly" class="Womanly-services">
    </div>
    <div id="fbody">
        <footer>

           <div class = "ftxt">
           <p> Find help and the resources you need.</p><br>
           <p>Contact us 91+6377924494 & 91+8529097944</p>
           <hr>
        </div>
           <ul class="social_icon">
              <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
              <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
              <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
           </ul>

           <p class ="ftxt"> WoMManly &copy 2021 </p>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </div>
</main>
</body>
</html>
{% endblock %}
